WcfCarTestProd/Service References/CarApp/CarRecivingApp.Prototypes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CarRecivingApp.Prototypes" elementFormDefault="qualified" targetNamespace="CarRecivingApp.Prototypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="LoginResult" nillable="true" type="q1:LoginDetails" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q2:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStatus">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetShipmentsResult" nillable="true" type="q3:ArrayOfShipmentDetails" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q4:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsByShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCarsByShipmentResult" nillable="true" type="q5:ArrayOfCarByShipment" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q6:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCarReception">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNumber" type="xs:int" />
        <xs:element minOccurs="0" name="licenseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCarReceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmCarReceptionResult" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q7:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectCarReception">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNumber" type="xs:int" />
        <xs:element minOccurs="0" name="licenseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectCarReceptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RejectCarReceptionResult" type="xs:boolean" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q8:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarForValidation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarForValidationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCarForValidationResult" nillable="true" type="q9:CarForValidation" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q10:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarManuallyToShipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNumber" type="xs:int" />
        <xs:element minOccurs="0" name="licenseNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarManuallyToShipmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="CarManuallyToShipmentResult" nillable="true" type="q11:CarByShipment" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q12:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="emailType" type="q13:EmailType" />
        <xs:element minOccurs="0" name="licenceNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNum" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMailTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMailTemplateResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q14:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDamageEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNum" type="xs:int" />
        <xs:element minOccurs="0" name="damageDescription" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="mailBody" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageBase64" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendDamageEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendDamageEmailResult" type="xs:boolean" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q15:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="shippingNum" type="xs:int" />
        <xs:element minOccurs="0" name="mailBody" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendEmailResult" type="xs:boolean" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q16:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsForDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsForDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCarsForDeliveryResult" nillable="true" type="q17:ArrayOfCarForDelivery" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q18:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelivaryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenseNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="cusType" type="q19:CustomerType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDelivaryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetDelivaryDetailsResult" nillable="true" type="q20:CarDeliveryDetails" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q21:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptCarForDelivery">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="carDetails" nillable="true" type="q22:CarDeliveryDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptCarForDeliveryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptCarForDeliveryResult" type="xs:boolean" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q23:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceCompanies">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInsuranceCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetInsuranceCompaniesResult" nillable="true" type="q24:ArrayOfKeyValueOfintstring" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q25:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDocumentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="docType" type="q26:EDocumentType" />
        <xs:element minOccurs="0" name="contractId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadDocumentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadDocumentFileResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q27:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageBase64" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="docType" type="q28:EDocumentType" />
        <xs:element minOccurs="0" name="mutag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dealer" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contractId" type="xs:int" />
        <xs:element minOccurs="0" name="releaseCond" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UploadDocumentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadDocumentFileResult" type="xs:boolean" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q29:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageBase64" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="docType" type="q30:EDocumentType" />
        <xs:element minOccurs="0" name="contractId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentFileResult" type="xs:boolean" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q31:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryPdf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="car" nillable="true" type="q32:CarDeliveryDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDeliveryPdfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDeliveryPdfResult" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q33:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeliverySignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="car" nillable="true" type="q34:CarDeliveryDetails" />
        <xs:element minOccurs="0" name="imageBase64Moser" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="imageBase64Customer" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDeliverySignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveDeliverySignatureResult" type="xs:boolean" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q35:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetInitResult" nillable="true" type="q36:InitDetails" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q37:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsForControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarsForControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCarsForControlResult" nillable="true" type="q38:ArrayOfCarForControl" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q39:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpareTireOption">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpareTireOptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetSpareTireOptionResult" nillable="true" type="q40:ArrayOfKeyValueOfintstring" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q41:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarLocalAdditions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarLocalAdditionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCarLocalAdditionsResult" nillable="true" type="q42:ArrayOfLocalAddition" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q43:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarForControlDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarForControlDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCarForControlDetailsResult" nillable="true" type="q44:CarForControlDetails" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q45:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCarControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="car" nillable="true" type="q46:CarForControlDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmCarControlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmCarControlResult" type="xs:boolean" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q47:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicenceNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KM" type="xs:int" />
        <xs:element minOccurs="0" name="mutag" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetKMResult" type="xs:boolean" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q48:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmKM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="LicenceNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ConfirmName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmKMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmKMResult" type="xs:boolean" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q49:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="GetCommentsResult" nillable="true" type="q50:ArrayOfComment" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q51:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="licenceNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCommentResult" type="xs:boolean" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q52:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDamages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDamagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetDamagesResult" nillable="true" type="q53:ArrayOfDamageOut" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q54:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReasonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetReasonsResult" nillable="true" type="q55:ArrayOfReason" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q56:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsibilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponsibilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetResponsibilitiesResult" nillable="true" type="q57:ArrayOfResponsibilty" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q58:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositions">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPositionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetPositionsResult" nillable="true" type="q59:ArrayOfPosition" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q60:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDamage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrandAndVehicle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Chassis" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DamageId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PositionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ReasonId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ResponsibilityId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveDamageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="SaveDamageResult" nillable="true" type="q61:SaveResult" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q62:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMediaFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="damage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="files" nillable="true" type="q63:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMediaFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q64:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDamage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brandAndVehicle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHistoryDamageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetHistoryDamageResult" nillable="true" type="q65:ArrayOfHistoryDamage" />
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q66:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaForDamage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="toke" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="damage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brand" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicle" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="position" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMediaForDamageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetMediaForDamageResult" nillable="true" type="q67:ArrayOfMedia" />
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q68:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSelectDamage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="damage" nillable="true" type="q69:ParamsForConfirmSelectDamage" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSelectDamageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="ConfirmSelectDamageResult" nillable="true" type="q70:SaveResult" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q71:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDamageCNF">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="brandAndVehicle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDamageCNFResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Prototypes.DataContracts" minOccurs="0" name="GetDamageCNFResult" nillable="true" type="q72:ArrayOfDamageForDeliveryConfirm" />
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CarReceivingApp.Prototypes" minOccurs="0" name="statusCode" type="q73:STATUS_CODES" />
        <xs:element minOccurs="0" name="errorMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>